*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #181818;
    position: relative;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181818;
    width: 70%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: calc(100% / 5 - 25px);
    height: 93%;
    background-color: #202020;
    margin: 0 10px;
    border-radius: 6px;
    transition: all 100ms ease-in;
}

.photo{
    width: calc(100% / 1 - 20px );
    display: block;
    margin: auto;
    margin-top: 10px;
    position: relative;

}
.photo img{
    width: 100%;
}

.txt :first-child{
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 10px
}
.txt :last-child{
    font-size: .85rem;
    margin: 8px 10px
}

.txt {
    color: white;
    margin-top: 10px

}
.play-btn{
    visibility: hidden;
    position: absolute;
    bottom: 5%;
    right: 5%;
    transition: all 200ms ease-in;
}
.play{
    width: 30px;
    height: 30px;
    background-color: #1db954;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    color: white;
}

.card:hover .play-btn{
    display: block;
    margin-bottom: 10px;
    visibility: visible;
}

.card:hover{
    background-color: rgb(75, 75, 75);

}
.play-btn:hover{
    transform: scale(1.1,1.1);
    cursor: pointer;

}